// Sample red theme to demonstrate SASS overrides

// Theme colors
//
// Note: define colors needed by your theme first

// Define the primary red color
$blue: rgb(70,107,176) !default;
$hero_text_color: rgb(0, 0, 0) !default;
// Make red the primary color
$primary: $blue;

// Theme fonts
//$font-family-sans-serif: cursive;

// Initialize the Open edX Bootstrap theme
@import 'edx-bootstrap/sass/open-edx/theme';

$static-path: '..' !default;
$hero-banner-image: url('#{$static-path}/images/hero-banner.jpg') !default;
